@import "flex-grid.css";

header {
    display:flex;
    flex-direction: row;
    color:rgb(138, 88, 66);
    background-color:rgb(94, 69, 60);
    padding-inline: 30px;
    justify-content: space-around;
    align-content: space-around
}

.flex-row h3 {
    padding: 10px 30px;
    text-decoration: none; 
    flex-wrap: wrap;
}

main {
    display: flex;
}
.stroka2 {
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
    justify-content: space-around;
    margin-right: auto 60px;
}
